.table {
	font-size: 0.8em;
	line-height: 1.25em;
}
.table td, 
.table th {
	padding: .4rem;
}
.table thead th {
	border-top: none;
	word-break: break-word;
}
.graphContainer {
	min-height: 20vh;
}

.jumbotron {
	border-radius: 0;
	margin-top: -1em;
	background-color: #f26d15;
	color: #fff;
}
.jumbotron .display-1 {
	font-weight: bold;
}

.mt-2e {
	margin-top: 2em;
}
.mt-3e {
	margin-top: 2em;
}

h1.separator {
	font-size: 3.2rem;
	margin-bottom: 3.5rem;
	margin-top: 5rem !important;
	font-weight: bold;
	text-transform: uppercase
}